<a href="https://colab.research.google.com/github/N1ckg4m3s/TRABALHOS_CURSO_FULLSTACK_5/blob/main/TrabalhoNivel3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MICRO ATIVIDADE 1

Instalação das bibliotecas necessarias para ler um arquivo

In [14]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Importar e imprimir o cabeçalho dos dados

In [ ]:
import pandas as pd

Dados=pd.read_excel("DadosExcel.xlsx")

print(Dados.head())

   ID  Duration          Date  Pulse  Maxpulse  Calories
0   0        60  '2020/12/01'    110       130    4091.0
1   1        60  '2020/12/02'    117       145    4790.0
2   2        60  '2020/12/03'    103       135    3400.0
3   3        45  '2020/12/04'    109       175    2824.0
4   4        45  '2020/12/05'    117       148    4060.0

# MICRO ATIVIDADE 2

Utilizando como base os dados da Micro Atividade 1

Criar um Subconjunto com colunas pre-determinadas.

In [ ]:
SubConjunto = Dados[["Duration","Pulse","Calories"]]

print(SubConjunto.head())

   Duration  Pulse  Calories
0        60    110    4091.0
1        60    117    4790.0
2        60    103    3400.0
3        45    109    2824.0
4        45    117    4060.0

# MICRO ATIVIDADE 3

Utilizando como base os dados da Micro Atividade 1

Determinar um tamanho maximo de rows mostradas

In [ ]:
TamanhoMaximo=9999;
pd.set_option("display.max_rows", TamanhoMaximo)

print(Dados)

    ID  Duration          Date  Pulse  Maxpulse  Calories
0    0        60  '2020/12/01'    110       130    4091.0
1    1        60  '2020/12/02'    117       145    4790.0
2    2        60  '2020/12/03'    103       135    3400.0
3    3        45  '2020/12/04'    109       175    2824.0
4    4        45  '2020/12/05'    117       148    4060.0
5    5        60  '2020/12/06'    102       127    3000.0
6    6        60  '2020/12/07'    110       136    3740.0
7    7       450  '2020/12/08'    104       134    2533.0
8    8        30  '2020/12/09'    109       133    1951.0
9    9        60  '2020/12/10'     98       124    2690.0
10  10        60  '2020/12/11'    103       147    3293.0
11  11        60  '2020/12/12'    100       120    2507.0
12  12        60  '2020/12/12'    100       120    2507.0
13  13        60  '2020/12/13'    106       128    3453.0
14  14        60  '2020/12/14'    104       132    3793.0
15  15        60  '2020/12/15'     98       123    2750.0
16  16        60  '2020/12/16'     98       120    2152.0
17  17        60  '2020/12/17'    100       120    3000.0
18  18        45  '2020/12/18'     90       112       NaN
19  19        60  '2020/12/19'    103       123    3230.0
20  20        45  '2020/12/20'     97       125    2430.0
21   1        60  '2020/12/21'    108       131    3642.0
22  22        45           NaN    100       119    2820.0
23  23        60  '2020/12/23'    130       101    3000.0
24  24        45  '2020/12/24'    105       132    2460.0
25  25        60  '2020/12/25'    102       126    3345.0
26  26        60      20201226    100       120    2500.0
27  27        60  '2020/12/27'     92       118    2410.0
28  28        60  '2020/12/28'    103       132       NaN
29  29        60  '2020/12/29'    100       132    2800.0
30  30        60  '2020/12/30'    102       129    3803.0
31  31        60  '2020/12/31'     92       115    2430.0

# MICRO ATIVIDADE 4

Utilizando como base os dados da Micro Atividade 1

Exibir um determinado numero de linhas do começo e do final

In [ ]:
LinhasDoTopo=3;
LinhasDoFim=10

print(f'primeiras {LinhasDoTopo} linhas')
print(Dados.head(LinhasDoTopo))

print()
print('===========================================')
print()

print(f'ultimas {LinhasDoFim} linhas')
print(Dados.tail(LinhasDoFim))

primeiras 3 linhas
   ID  Duration          Date  Pulse  Maxpulse  Calories
0   0        60  '2020/12/01'    110       130    4091.0
1   1        60  '2020/12/02'    117       145    4790.0
2   2        60  '2020/12/03'    103       135    3400.0

===========================================

ultimas 10 linhas
    ID  Duration          Date  Pulse  Maxpulse  Calories
22  22        45           NaN    100       119    2820.0
23  23        60  '2020/12/23'    130       101    3000.0
24  24        45  '2020/12/24'    105       132    2460.0
25  25        60  '2020/12/25'    102       126    3345.0
26  26        60      20201226    100       120    2500.0
27  27        60  '2020/12/27'     92       118    2410.0
28  28        60  '2020/12/28'    103       132       NaN
29  29        60  '2020/12/29'    100       132    2800.0
30  30        60  '2020/12/30'    102       129    3803.0
31  31        60  '2020/12/31'     92       115    2430.0

# MICRO ATIVIDADE 5

Utilizando como base os dados da Micro Atividade 1

Exibir informações sobre a tabela

In [ ]:
print("Informações gerais")
print(Dados.info())

print("============================================") # simples espaçamento

NumeroLinhas, NumeroColunas=Dados.shape
print(f'A tabela tem: {NumeroLinhas} linhas')
print(f'A tabela tem: {NumeroColunas} colunas')

print("============================================") # simples espaçamento

print(f'A tabela tem: \n{Dados.isnull().sum()}\n dados nulos')

print("============================================") # simples espaçamento

print(f'A Tipo de dados da tabela: \n {Dados.dtypes}')

print("============================================") # simples espaçamento

print(f'A tabela esta usando: {Dados.memory_usage(deep=True).sum()} bytes de memoria')

Informações gerais
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        32 non-null     int64
 1   Duration  32 non-null     int64
 2   Date      31 non-null     object
 3   Pulse     32 non-null     int64
 4   Maxpulse  32 non-null     int64
 5   Calories  30 non-null     float64
dtypes: float64(1), int64(4), object(1)
memory usage: 1.6+ KB
None
============================================
A tabela tem: 32 linhas
A tabela tem: 6 colunas
============================================
A tabela tem:
ID          0
Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64
 dados nulos
============================================
A Tipo de dados da tabela:
 ID            int64
Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object
============================================
A tabela esta usando: 3546 bytes de memoria

# ATIVIDADE

In [12]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [15]:
import pandas as pd
DfAtividade=pd.read_excel("DadosExcel.xlsx")      # 3 - 4

DfAtividade.head()

   ID  Duration          Date  Pulse  Maxpulse  Calories
0   0        60  '2020/12/01'    110       130    4091.0
1   1        60  '2020/12/02'    117       145    4790.0
2   2        60  '2020/12/03'    103       135    3400.0
3   3        45  '2020/12/04'    109       175    2824.0
4   4        45  '2020/12/05'    117       148    4060.0

In [16]:
print("Topo tabela")
print(DfAtividade.head(5))      # 5
print()
print("Fim tabela")
print(DfAtividade.tail(5))      # 5

Topo tabela
   ID  Duration          Date  Pulse  Maxpulse  Calories
0   0        60  '2020/12/01'    110       130    4091.0
1   1        60  '2020/12/02'    117       145    4790.0
2   2        60  '2020/12/03'    103       135    3400.0
3   3        45  '2020/12/04'    109       175    2824.0
4   4        45  '2020/12/05'    117       148    4060.0

Fim tabela
    ID  Duration          Date  Pulse  Maxpulse  Calories
27  27        60  '2020/12/27'     92       118    2410.0
28  28        60  '2020/12/28'    103       132       NaN
29  29        60  '2020/12/29'    100       132    2800.0
30  30        60  '2020/12/30'    102       129    3803.0
31  31        60  '2020/12/31'     92       115    2430.0

In [17]:
DfCopia=DfAtividade.copy()      # 6

In [18]:
DfCopia['Calories'].fillna(0, inplace=True)      #7
print(DfCopia['Calories'])

0     4091.0
1     4790.0
2     3400.0
3     2824.0
4     4060.0
5     3000.0
6     3740.0
7     2533.0
8     1951.0
9     2690.0
10    3293.0
11    2507.0
12    2507.0
13    3453.0
14    3793.0
15    2750.0
16    2152.0
17    3000.0
18       0.0
19    3230.0
20    2430.0
21    3642.0
22    2820.0
23    3000.0
24    2460.0
25    3345.0
26    2500.0
27    2410.0
28       0.0
29    2800.0
30    3803.0
31    2430.0
Name: Calories, dtype: float64

In [19]:
DfCopia["Date"].fillna('1900/01/01', inplace=True)      #8
DfCopia['Date'] = DfCopia['Date'].astype(str).str.strip("'")

DfCopia["Date"]=pd.to_datetime(DfCopia["Date"],format='%Y/%m/%d', errors="ignore")
print(DfCopia["Date"])

0     2020/12/01
1     2020/12/02
2     2020/12/03
3     2020/12/04
4     2020/12/05
5     2020/12/06
6     2020/12/07
7     2020/12/08
8     2020/12/09
9     2020/12/10
10    2020/12/11
11    2020/12/12
12    2020/12/12
13    2020/12/13
14    2020/12/14
15    2020/12/15
16    2020/12/16
17    2020/12/17
18    2020/12/18
19    2020/12/19
20    2020/12/20
21    2020/12/21
22    1900/01/01
23    2020/12/23
24    2020/12/24
25    2020/12/25
26      20201226
27    2020/12/27
28    2020/12/28
29    2020/12/29
30    2020/12/30
31    2020/12/31
Name: Date, dtype: object

In [20]:
DfCopia["Date"].replace("1900/01/01", pd.NaT, inplace=True)     #9
DfCopia["Date"]=pd.to_datetime(DfCopia["Date"],format='%Y/%m/%d', errors="ignore")
print(DfCopia["Date"])

0     2020/12/01
1     2020/12/02
2     2020/12/03
3     2020/12/04
4     2020/12/05
5     2020/12/06
6     2020/12/07
7     2020/12/08
8     2020/12/09
9     2020/12/10
10    2020/12/11
11    2020/12/12
12    2020/12/12
13    2020/12/13
14    2020/12/14
15    2020/12/15
16    2020/12/16
17    2020/12/17
18    2020/12/18
19    2020/12/19
20    2020/12/20
21    2020/12/21
22           NaT
23    2020/12/23
24    2020/12/24
25    2020/12/25
26      20201226
27    2020/12/27
28    2020/12/28
29    2020/12/29
30    2020/12/30
31    2020/12/31
Name: Date, dtype: object

In [21]:
DfCopia["Date"]=DfCopia["Date"].astype(str).replace({ "20201226": "2020/12/26"})     #10
DfCopia['Date'] = pd.to_datetime(DfCopia['Date'], format='%Y/%m/%d', errors='coerce')

print(DfCopia['Date'])

0    2020-12-01
1    2020-12-02
2    2020-12-03
3    2020-12-04
4    2020-12-05
5    2020-12-06
6    2020-12-07
7    2020-12-08
8    2020-12-09
9    2020-12-10
10   2020-12-11
11   2020-12-12
12   2020-12-12
13   2020-12-13
14   2020-12-14
15   2020-12-15
16   2020-12-16
17   2020-12-17
18   2020-12-18
19   2020-12-19
20   2020-12-20
21   2020-12-21
22          NaT
23   2020-12-23
24   2020-12-24
25   2020-12-25
26   2020-12-26
27   2020-12-27
28   2020-12-28
29   2020-12-29
30   2020-12-30
31   2020-12-31
Name: Date, dtype: datetime64[ns]

In [22]:
DfCopia.dropna(subset=['Date'], inplace=True)      #11
print(DfCopia)

    ID  Duration       Date  Pulse  Maxpulse  Calories
0    0        60 2020-12-01    110       130    4091.0
1    1        60 2020-12-02    117       145    4790.0
2    2        60 2020-12-03    103       135    3400.0
3    3        45 2020-12-04    109       175    2824.0
4    4        45 2020-12-05    117       148    4060.0
5    5        60 2020-12-06    102       127    3000.0
6    6        60 2020-12-07    110       136    3740.0
7    7       450 2020-12-08    104       134    2533.0
8    8        30 2020-12-09    109       133    1951.0
9    9        60 2020-12-10     98       124    2690.0
10  10        60 2020-12-11    103       147    3293.0
11  11        60 2020-12-12    100       120    2507.0
12  12        60 2020-12-12    100       120    2507.0
13  13        60 2020-12-13    106       128    3453.0
14  14        60 2020-12-14    104       132    3793.0
15  15        60 2020-12-15     98       123    2750.0
16  16        60 2020-12-16     98       120    2152.0
17  17        60 2020-12-17    100       120    3000.0
18  18        45 2020-12-18     90       112       0.0
19  19        60 2020-12-19    103       123    3230.0
20  20        45 2020-12-20     97       125    2430.0
21   1        60 2020-12-21    108       131    3642.0
23  23        60 2020-12-23    130       101    3000.0
24  24        45 2020-12-24    105       132    2460.0
25  25        60 2020-12-25    102       126    3345.0
26  26        60 2020-12-26    100       120    2500.0
27  27        60 2020-12-27     92       118    2410.0
28  28        60 2020-12-28    103       132       0.0
29  29        60 2020-12-29    100       132    2800.0
30  30        60 2020-12-30    102       129    3803.0
31  31        60 2020-12-31     92       115    2430.0